# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
env/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# Alembic cache
alembic/versions/__pycache__/

# Logs
*.log

# OS files
.DS_Store